* {
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    border-radius: 1rem;
    margin: 2rem auto;
    width: 80%;
}

a {
    text-decoration: none;
}

li {
    padding: 0.5rem;
}